{% macro breadcrumbs(page_list) %}
  {%- for label, url in page_list %}
    {%- set cls = 'breadcrumbitemlast' if loop.last else 'breadcrumbitem' %}
    <div class="{{ cls }}">
      {%- if url %}
        <a href="{{ url }}">{{ label }}</a>
      {%- else %}
        {{ label }}
      {%- endif %}
    </div>
  {%- endfor %}
{%- endmacro %}

{% macro render_field_with_errors(field) %}
  {% set cls = 'form-error' if field.errors else '' %}
  <label>
    {{ field.label.text }}
    {%- if field.flags.required %}*{% endif %}
  </label>
  {{ field(class=cls, **kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <p class="form-error-msg">{{ error }}</p>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro additional_info(bool, value) %}
  <td class="default-td"
      {% if bool %}
        title="{{ value|wordwrap }}"
      {% endif %}>
    {{ bool or '' }}
  </td>
{% endmacro %}
