<div class="legend clearfix">
  <strong>Legend</strong>
  <dl>
    <dt class="trend-inc">
      <abbr title="Increasing" class="conclusion">+</abbr>
    </dt>
    <dd>
      Increasing
    </dd>

    <dt class="trend-eq">
      <abbr title="Stable" class="conclusion">0</abbr>
    </dt>
    <dd>
      Stable
    </dd>

    <dt class="trend-xx">
      <abbr title="Unknown" class="conclusion">x</abbr>
    </dt>
    <dd>
      Unknown
    </dd>

    <dt class="trend-dec">
      <abbr title="Decreasing" class="conclusion">-</abbr>
    </dt>
    <dd>
      Decreasing
    </dd>

    <dt class="trend-f">
      <abbr title="Fluctuating" class="conclusion">F</abbr>
    </dt>
    <dd>
      Fluctuating
    </dd>
  </dl>
{#  <dl>#}
{#    {% for label,cls in STATUS_CLASSES.items() %}#}
{#    <dt class="status-{{ cls }}">#}
{#      <abbr title="{{ label }}" class="conclusion">{{ label }}</abbr>#}
{#    </dt>#}
{#    <dd>{{ label }}</dd>#}
{#    {% endfor %}#}
{#  </dl>#}
</div>
<p>
    The EU population status assessment was carried out at the species level.
    The EU status assessment can cover several subspecies/subspecific units,
    which are listed on mouse over the Bird status symbol. The EU trends were
    assessed at the subspecies level. The EU trends can cover several
    subspecific units, which are listed on mouse over the Trend symbol.
</p>
