<div class="legend clearfix">
  <strong>Legend</strong>
  <dl>
    <dt class="trend-inc">
      <abbr title="Increasing" class="conclusion">+</abbr>
    </dt>
    <dd>
      Increasing
    </dd>

    <dt class="trend-eq">
      <abbr title="Stable" class="conclusion">0</abbr>
    </dt>
    <dd>
      Stable
    </dd>

    <dt class="trend-xx">
      <abbr title="Unknown" class="conclusion">x</abbr>
    </dt>
    <dd>
      Unknown
    </dd>

    <dt class="trend-dec">
      <abbr title="Decreasing" class="conclusion">-</abbr>
    </dt>
    <dd>
      Decreasing
    </dd>

    <dt class="trend-f">
      <abbr title="Fluctuating" class="conclusion">F</abbr>
    </dt>
    <dd>
      Fluctuating
    </dd>
  </dl>

  <p>
    Please note that additional information on mouse over values and 
    trends stands for the quality of the underlying data as reported 
    by Member States.
  </p>
</div>
