<tbody class="thead" id="manual-thead">
  <tr class="section-header">
    <th class="table-title" colspan="{{ colspan_all }}">
      <div class="table-separator"></div>
        EU population status assessments
    </th>
  </tr>

  <tr>
    <th rowspan="2"></th>
    <th colspan="15">Breeding population</th>
    <th colspan="10">Breeding distribution</th>
    <th colspan="12">Winter population</th>
    <th colspan="3" rowspan="2" title="EU population status">EU population status</th>
    <th rowspan="2" title="Contribution to Target 1(ii) of EU Biodiversity Strategy to 2020:
                           A - 'Secure' population status
                           B - not 'Secure', but 'improving'
                           C - neither 'Secure' nor 'improving'
                           E - 'Unknown' population status">Contribution<br>to Target 1</th>
                           <th rowspan="2" data-tooltip-place="sw" 
                               title="Data on which 2020 EU population status category was based: 
                                      B - breeding-season data
                                      W - winter data">Season</th>
    <th rowspan="2" title="EU population status category from previous (2008–2012) reporting period">
        Previous status
    </th>
  </tr>

  <tr>
    {# Breeding population #}
    <th colspan="3">Population size (min)</th>
    <th colspan="3">Population size (max)</th>
    <th colspan="2">Unit</th>

    <th colspan="3">Short-term trend</th>
    <th colspan="4">Long-term trend</th>

    {# Breeding Range #}
    <th colspan="3">Area</th>
    <th colspan="3">Short-term trend</th>
    <th colspan="4">Long-term trend</th>

    {# Winter population #}
    <th colspan="3">Population size (min)</th>
    <th colspan="3">Population size (max)</th>
    <th colspan="2">Unit</th>
    <th colspan="2">Short-term trend</th>
    <th colspan="2">Long-term trend</th>
  </tr>
</tbody>