<tbody class="thead">

<tr class="section-header">
  <th class="table-title" colspan="{{ colspan_all }}">
    Data from Member States reports
  </th>
</tr>

<tr>
  {% if is_reports %}
  <th rowspan="3">Species</th>
  {% else %}
  <th rowspan="3" title="Member states">MS</th>
  {% endif %}
  <th colspan="8">Breeding Population</th>
  <th colspan="8">Breeding Range</th>
  <th colspan="8">Winter Population</th>
  <th colspan="4" rowspan="2">Areas from gridded maps (km<sup>2</sup>)</th>
  <th rowspan="2"></th>
</tr>

<tr>
  <th colspan="3">Population</th>
  <th colspan="5">Trend</th>
  <th colspan="3">Surface</th>
  <th colspan="5">Trend</th>
  <th colspan="3">Population</th>
  <th colspan="5">Trend</th>
</tr>

<tr>
  {#  Breeding Population #}
  <th title="Population size (min-max) and unit">Size&amp;Unit</th>
  <th title="Population size - additional information available">&#8505;</th>
  <th title="Percentage of EU27 population per MS" class="gray-cell">% MS</th>
  <th title="Short-term population trend period">Period</th>
  <th title="Short-term population trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">ST Trend</th>
  <th title="Long-term population trend period">Period</th>
  <th title="Long-term population trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">LT Trend</th>
  <th title="Population trends - additional information available">&#8505;</th>

  {# Breeding Range #}
  <th title="Range surface area km<sup>2</sup>">Area</th>
  <th title="Range - additional information available">&#8505;</th>
  <th title="Percentage of EU27 range per MS" class="gray-cell">% MS</th>
  <th title="Short-term range trend period">Period</th>
  <th title="Short term range trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">ST Trend</th>
  <th title="Long-term range trend period">Period</th>
  <th title="Long term range trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">LT Trend</th>
  <th title="Range trends - additional information available">&#8505;</th>

  {# Winter Population #}
  <th title="Population size (min-max) and unit">Size&amp;Unit</th>
  <th title="Population size - additional information available">&#8505;</th>
  <th title="Percentage of EU27 population per MS" class="gray-cell">% MS</th>
  <th title="Short-term population trend period">Period</th>
  <th title="Short-term population trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">ST Trend</th>
  <th title="Long-term population trend period">Period</th>
  <th title="Long-term population trend direction and magnitude (min-max) {{ TREND_TOOLTIP }}">LT Trend</th>
  <th title="Population trends - additional information available">&#8505;</th>

  {# Areas from gridded maps #}
  <th title="Area of breeding distribution from GIS data" class="gray-cell">Distrib.</th>
  <th title="Percentage of the surface area of GIS distribution per MS" class="gray-cell">
    % MS
  </th>
  <th title="Area of breeding range from GIS data" class="gray-cell">Range</th>
  <th title="Percentage of the surface area of GIS range per MS" class="gray-cell">
    % MS
  </th>
</tr>
</tbody>
