body #workarea {
    margin-left: 0;
}

/* Trend TYPES */
.conclusion, .conclusion:hover {
    padding-left: 4px;
    padding-right: 4px;
}
.trend-inc .conclusion,
.trend-inc.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #92b54b;
}

.trend-dec .conclusion,
.trend-dec.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #e02020;
}

.trend-xx .conclusion,
.trend-xx.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b0b0b0;
}

.trend-eq .conclusion,
.trend-eq.conclusion {
  color: #000;
  border-color: #4774c7;
  background-color: #467aba;
}

.trend-f .conclusion,
.trend-f.conclusion {
  color: #000;
  border-color: #7a005c;
  background-color: #7d60a0;
}

.copy-disabled {
  outline: none;
}

.default-td {
  color: #000;
  text-align: center;
}

.first-subcolumn {
    font-weight: 600;
}
