body #workarea {
    margin-left: 0;
}

/* Trend TYPES */
.conclusion, .conclusion:hover {
    padding-left: 4px;
    padding-right: 4px;
}
.trend-inc .conclusion,
.trend-inc.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #76923c;
}

.trend-dec .conclusion,
.trend-dec.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #cc0000;
}

.trend-xx .conclusion,
.trend-xx.conclusion {
  color: #000;
  border-color: #888;
  background-color: #808080;
}

.trend-eq .conclusion,
.trend-eq.conclusion {
  color: #000;
  border-color: #4774c7;
  background-color: #365f91;
}

.trend-f .conclusion,
.trend-f.conclusion {
  color: #000;
  border-color: #7a005c;
  background-color: #5f497a;
}

.copy-disabled {
  outline: none;
}

.default-td {
  color: #000;
  text-align: center;
}
