SQLALCHEMY_DATABASE_URI = 'mysql://root@localhost/art12'

DEBUG = True

SECRET_KEY = 'secret is secret'

GOOGLE_ANALYTICS = True

# Default period to be used in factsheet generation
DEFAULT_PERIOD = 1

# Folder where factsheet documents are sent
PDF_DESTINATION = 'pdf'

# Static path location of the maps
MAPS_STATIC = 'maps'
# Maps filename format
MAPS_FORMAT = '{code}_{suffix}.png'
# Default image to be used when no map is available
DEFAULT_MAP = 'blank_map.png'
