SQLALCHEMY_DATABASE_URI = 'mysql://root@localhost/art12'

DEBUG = True

SECRET_KEY = 'secret is secret'

GOOGLE_ANALYTICS = True

# Default period to be used in factsheet generation
DEFAULT_PERIOD = 1

# Folder where factsheet documents are sent
PDF_DESTINATION = 'pdf'

# Static path location of the maps
MAPS_STATIC = 'maps'
# Maps filename format
MAPS_FORMAT = '{code}_{suffix}.png'
# Prefix for the PDF urls (header & footer)
PDF_URL_PREFIX = ''
PDF_URL_SUFIX = ''
LOCAL_PDF_URL_PREFIX=''
# Prefix for the MAP urls
MAP_URL_PREFIX = ''
