<div class="legend clearfix">
  <strong>Legend</strong>
  <dl>
    <dt class="trend-inc">
      <abbr title="Increasing" class="conclusion">I</abbr>
    </dt>
    <dd>
      Increasing
    </dd>

    <dt class="trend-eq">
      <abbr title="Stable" class="conclusion">S</abbr>
    </dt>
    <dd>
      Stable
    </dd>

    <dt class="trend-xx">
      <abbr title="Unknown" class="conclusion">Unk</abbr>
    </dt>
    <dd>
      Unknown
    </dd>

    <dt class="trend-dec">
      <abbr title="Decreasing" class="conclusion">D</abbr>
    </dt>
    <dd>
      Decreasing
    </dd>

    <dt class="trend-f">
      <abbr title="Fluctuating" class="conclusion">F</abbr>
    </dt>
    <dd>
      Fluctuating
    </dd>

    <dt class="trend-u">
      <abbr title="Uncertain" class="conclusion">U</abbr>
    </dt>
    <dd>
      Uncertain
    </dd>
  </dl>
</div>
<p>
  {% if page_type == 'progress' %}
    <p>
    Globally the EU population status assessment was carried out at the species level.
    For subspecies included in the Annexes of the Directive, for subspecies or populations
    with the international species action plan and for their subspecific counterparts
    an additional assessment at the subspecies or population level was carried out.
    </p>
    <p>Both, species and subspecies level assessments, are provided in the list below.</p>
  {% endif %}
</p>
