<tbody>
  <tr style="display:inline-block;">

  </tr>
</tbody>

<tbody class="thead" id="manual-thead">
  <tr class="section-header">
    <th class="table-title" colspan="{{ colspan_all }}">
      <div class="table-separator"></div>
        EU population status assessments
    </th>
  </tr>

  <tr>
    <th rowspan="2"></th>
    <th colspan="15">Breeding population</th>
    <th colspan="10">Breeding distribution</th>
    <th colspan="16">Winter population</th>
    <th colspan="2" title="EU population status category (2020)">EU population status</th>
    <th colspan="2" rowspan="2" title="EU population status category from previous (2013–2019) reporting period">
      Previous status</br>breeding
    </th>
    <th rowspan="2" title="EU population status category from previous (2013–2019) reporting period">
      Previous status</br>wintering
    </th>
    <th colspan="1" rowspan="2">
      Ssp. / subsp. unit
    </th>
  </tr>

  <tr>
    {# Breeding population #}
    <th colspan="3" title="Estimate of minimum overall EU population size">Population size</br>(min)</th>
    <th colspan="3" title="Estimate of maximum overall EU population size">Population size</br>(max)</th>
    <th colspan="3" title="Population size unit:
                            bfemales - breeding females
                            cmales - calling (or lekking) males
                            i - individuals
                            p - breeding pairs">Unit</th>
    <th colspan="3" title="Overall EU short-term population trend (c.2013–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Short-term trend</th>
    <th colspan="3" title="Overall EU long-term population trend (c.1980–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Long-term trend</th>

    {# Breeding distribution #}
    <th colspan="3" title="Overall EU breeding distribution surface area, in km²">Area</th>
    <th colspan="3" title="Overall EU short-term distribution trend (c.2013–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Short-term trend</th>
    <th colspan="4" title="Overall EU long-term distribution trend (c.1980–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Long-term trend</th>

    {# Winter population #}

    <th colspan="4" title="Estimate of minimum overall EU population size">Population size</br>(min)</th>
    <th colspan="4" title="Estimate of maximum overall EU population size">Population size</br>(max)</th>
    <th colspan="4" title="Population size unit:
                            i - individuals">Unit</th>
    <th colspan="2" title="Overall EU short-term population trend (c.2013–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Short-term trend</th>
    <th colspan="2" title="Overall EU long-term population trend (c.1980–2024), direction and magnitude (if available)
                            D: decreasing
                            I: increasing
                            S: stable
                            F: fluctuating
                            Unk: unknown
                            NA: not evaluated">Long-term trend</th>

    {# EU population status #}
    <th colspan="1" title="Estimate of minimum overall EU population size">Breeding</th>
    <th colspan="1" title="Estimate of minimum overall EU population size">Wintering</th>
  </tr>
</tbody>
