#mysql env
MYSQL_ROOT_PASSWORD=

#art12 env
DEBUG=
SECRET_KEY=

DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
BIND_NAME=

GOOGLE_ANALYTICS=
DEFAULT_PERIOD=
PDF_URL_PREFIX=
LOCAL_PDF_URL_PREFIX=
PDF_DESTINATION=

EEA_LDAP_PROTOCOL=
EEA_LDAP_SERVER=
EEA_LDAP_PORT=

MAP_URL_PREFIX=
MAPS_STATIC=
MAPS_FORMAT=

SERVER_WITH_SCRIPT=
SCRIPT_NAME=


# test art12
DB_NAME_TEST=
DB_USER_TEST=
DB_PASSWORD_TEST=
DB_HOST_TEST=