CREATE USER art12 WITH PASSWORD 'password';
CREATE DATABASE art12;
CREATE DATABASE art12_eu;
CREATE DATABASE art12_test;

GRANT ALL PRIVILEGES ON DATABASE art12 TO art12;
ALTER DATABASE art12 OWNER TO art12;
GRANT ALL PRIVILEGES ON DATABASE art12_eu TO art12;
ALTER DATABASE art12_eu OWNER TO art12;
GRANT ALL PRIVILEGES ON DATABASE art12_test TO art12;
ALTER DATABASE art12_test OWNER TO art12;
