#mysql env
MYSQL_ROOT_PASSWORD=

#art12 env
DEBUG=
SECRET_KEY=

DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=

GOOGLE_ANALYTICS=
DEFAULT_PERIOD=
MAPS_FORMAT=
PDF_URL_PREFIX=

PDF_DESTINATION=factsheets/
MAPS_STATIC=maps/
