{% extends 'layout_pdf.html' %}

{% block content %}
  {% from 'common/_macros.html' import trend_td %}

  <h1 class="cover-title">Species name: {{ obj.speciesname }}</h1>
  <h2 class="cover-subtitle">{{ obj.subunit }}</h2>

  <dl class="cover-summary">
    <dt>Annex I</dt>
    <dd>{{ obj.annex }}</dd>
    <dt>International action plan</dt>
    <dd>{{ obj.plan }}</dd>
  </dl>

  {{ obj.wiki | safe }}

  <section>
    <header>
      <h2>Assessment of status at the European (EU27) level</h2>
      <p class="subtitle">(all biogeographical and marine regions – EU27)</p>
    </header>

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">Breeding population size</th>
          <th colspan="2">Breeding population trend</th>
          <th rowspan="2">Range area</th>
          <th colspan="2">Breeding range trend</th>
          <th rowspan="2">Winter population size</th>
          <th colspan="2">Winter population trend</th>
          <th rowspan="2">Population status</th>
        </tr>
        <tr>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
        </tr>
      </thead>
      <tbody>
      {% for row in obj.etc_birds %}
        <tr class="stripe_row">
          <td>
            {{ row.br_population_size or '' }}
            {{ row.br_population_size_unit or '' }}
          </td>
          {{ trend_td(row.br_population_trend) }}
          {{ trend_td(row.br_population_trend_long) }}
          <td>{{ row.br_range_surface_area or '' }}</td>
          {{ trend_td(row.br_range_trend) }}
          {{ trend_td(row.br_range_trend_long) }}
          <td>
            {{ row.wi_population_size or '' }}
            {{ row.wi_population_size_unit or '' }}
          </td>
          {{ trend_td(row.wi_population_trend) }}
          {{ trend_td(row.wi_population_trend_long) }}
          <td>{{ row.conclusion_status_label or '' }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <p>See the endnotes for more information<sup>i</sup></p>

  <p>When relevant reporting guidelines requests separate reports for
  subspecies and/or subspecific populations. The population status assessments
  at the EU level were carried out at the species level1. The EU status
  assessment covers following subspecies/populations:
  {{ obj.first_list | join(', ') }}. The EU trends were assessed at the
  subspecies level. The EU trends cover following subspecies/populations:
  {{ obj.second_list | join(', ') }}.</p>

{% endblock %}
