{% extends 'layout_pdf.html' %}

{% block content %}
  {% from 'common/_macros.html' import trend_td, link %}

  <section>
    <h1 class="cover-title"><span>{{ obj.speciesname }}</span></h1>
    <h2 class="cover-subtitle">{{ obj.subunit }}</h2>

    <dl class="cover-summary">
      <dt>Annex I</dt>
      <dd>{{ obj.annex }}</dd>
      <dt>International action plan</dt>
      <dd>{{ obj.plan }}</dd>
    </dl>
    {{ obj.wiki | safe }}

    {% if obj.conclusion_status_level1_record or obj.conclusion_status_level2_record %}
      <p class="bold-text">
        This factsheet was produced for <i>{{ obj.speciesname }}</i>
        {% if obj.subunit %}[{{ obj.subunit }}] population{% endif %}.
        Also other subspecies/populations of the same species occur within the
        EU27. The assessment of status at the European level and the
        introductory text were done at the species level in line with the
        criteria for assessment of the EU population status.
      </p>
    {% endif %}
  </section>

  <div class="page-breaker"></div>
  <section>
    <header>
      <h2>Assessment of status at the European level</h2>
    </header>

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">Breeding population size</th>
          <th colspan="2">Breeding population trend</th>
          <th rowspan="2">Range area</th>
          <th colspan="2">Breeding range trend</th>
          <th rowspan="2">Winter population size</th>
          <th colspan="2">Winter population trend</th>
          <th rowspan="2">Population status</th>
        </tr>
        <tr>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
        </tr>
      </thead>
      <tbody>
      {% for row in obj.etc_birds.filter_by(additional_record=0) %}
        <tr class="stripe_row">
          <td>
            {{ row.br_population_size or '' }}
            {{ row.br_population_size_unit or '' }}
          </td>
          {{ trend_td(row.br_population_trend) }}
          {{ trend_td(row.br_population_trend_long) }}
          <td>{{ row.br_range_surface_area_downrounded or '' }}</td>
          {{ trend_td(row.br_range_trend) }}
          {{ trend_td(row.br_range_trend_long) }}
          <td>
            {{ row.wi_population_size or '' }}
            {{ row.wi_population_size_unit or '' }}
          </td>
          {{ trend_td(row.wi_population_trend) }}
          {{ trend_td(row.wi_population_trend_long) }}
          <td>{{ row.conclusion_status_label or '' }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>See the endnotes for more information<sup>i</sup></p>

    {% if obj.conclusion_status_level1_record %}
      <p>The population status assessment at the EU level was carried out at
      the species level. The EU status assessment covers following
      subspecies/populations:
      {{ obj.conclusion_status_level1 | format_subpopulation }} (each of them
      presented in a separate factsheet).</p>
    {% endif %}

    {% if obj.conclusion_status_level2_record %}
      <p>The EU trends were assessed at the species or subspecies level
      following BirdLife International's current taxonomy. The EU trends
      assessment covers more former subspecies or populations:
      {{ obj.conclusion_status_level2 | format_subpopulation }}
      (each of them presented in a separate factsheet).</p>
    {% endif %}

  </section>

  {% set etc_birds_subspecies = obj.etc_birds.filter_by(additional_record=-1) %}
  {% if etc_birds_subspecies.count() %}
  <section>
    <header>
      <h2>Additional assessment at the subspecies level</h2>
    </header>

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">Breeding population size</th>
          <th colspan="2">Breeding population trend</th>
          <th rowspan="2">Range area</th>
          <th colspan="2">Breeding range trend</th>
          <th rowspan="2">Winter population size</th>
          <th colspan="2">Winter population trend</th>
          <th rowspan="2">Population status</th>
        </tr>
        <tr>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
        </tr>
      </thead>
      <tbody>
      {% for row in etc_birds_subspecies %}
        <tr class="stripe_row">
          <td>
            {{ row.br_population_size or '' }}
            {{ row.br_population_size_unit or '' }}
          </td>
          {{ trend_td(row.br_population_trend) }}
          {{ trend_td(row.br_population_trend_long) }}
          <td>{{ row.br_range_surface_area_downrounded or '' }}</td>
          {{ trend_td(row.br_range_trend) }}
          {{ trend_td(row.br_range_trend_long) }}
          <td>
            {{ row.wi_population_size or '' }}
            {{ row.wi_population_size_unit or '' }}
          </td>
          {{ trend_td(row.wi_population_trend) }}
          {{ trend_td(row.wi_population_trend_long) }}
          <td>{{ row.conclusion_status_label or '' }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}

  {% set distribution_map = get_map_path(code=obj.code, suffix='distribution') %}
  {% if distribution_map %}
    <img src="{{ url_for('static', filename=distribution_map, _external=True) }}">
    <div class="page-breaker"></div>
  {% else %}
    <p class="warning">Distribution map not available.</p>
  {% endif %}

  <section>
    <header>
      <h2>Trends at the Member State level</h2>
    </header>

    <table class="complex_datatable">
      <thead>
        <tr>
          <th rowspan="2">MS/Ter.</th>
          <th rowspan="2">% in EU27</th>
          <th rowspan="2">Breeding population size</th>
          <th colspan="2">Breeding population trend</th>
          <th rowspan="2">Range area</th>
          <th colspan="2">Breeding range trend</th>
          <th rowspan="2">Winter population size</th>
          <th colspan="2">Winter population trend</th>
        </tr>
        <tr>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
          <th>Short term</th>
          <th>Long term</th>
        </tr>
      </thead>
      <tbody>
      {% for row in obj.ms_birds %}
        <tr class="stripe_row">
          <td>{{ row.country }}</td>
          <td>{{ row.percentage_distribution_grid_area or '' }}</td>
          <td>{{ row.breeding_population_size or '' }}
              {{ row.breeding_population_size_unit }}</td>
          {{ trend_td(row.population_trend_bs) }}
          {{ trend_td(row.population_trend_long_bs) }}
          <td>
            {% if row.range_surface_area_bs is not none %}
              {{ row.range_surface_area_bs | int }}
            {% endif %}
          </td>
          {{ trend_td(row.range_trend_bs) }}
          {{ trend_td(row.range_trend_long_bs) }}
          <td>{{ row.winter_population_size or '' }}</td>
          {{ trend_td(row.population_trend_ws) }}
          {{ trend_td(row.population_trend_long_ws) }}
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>See the endnotes for more information<sup>ii</sup></p>

    {% set breeding_map = get_map_path(code=obj.code, suffix='breeding') %}
    {% if breeding_map %}
      <img src="{{ url_for('static', filename=breeding_map, _external=True) }}">
      <div class="page-breaker"></div>
    {% else %}
      <p class="warning">Short-term breeding population trend was not reported
      for this species.</p>
    {% endif %}

    <br>

    {% set winter_map = get_map_path(code=obj.code, suffix='winter') %}
    {% if winter_map %}
      <img src="{{ url_for('static', filename=winter_map, _external=True) }}">
      <div class="page-breaker"></div>
    {% else %}
      <p class="warning">Short-term winter population trend was not reported
      for this species.</p>
    {% endif %}

  </section>

  {% if obj.is_spa_trigger %}
    <section>
      <header>
        <h2>Main pressures and threats reported by Member States</h2>
      </header>
      <p>For the bird species triggering SPA classification Member States were
      asked to report the 20 most important pressures and threats using an
      agreed hierarchical list which can be found on the Article 12 Reference
      Portal (
      {{ link("http://bd.eionet.europa.eu/activities/Reporting/Article_12/reference_portal") }}
      ). Pressures are activities which are currently having an impact on
      the species and threats are activities expected to have an impact in the
      near future. The table below only contains information from Member
      States, where a species triggers SPA classification.
      Pressures and threats were ranked in three classes ‘high, medium and low
      importance’, the table  below only shows pressures and threats classed as
      ‘high’, for some species there were less than ten pressures and threats
      reported as highly important.</p>

      <p>
        <strong>
          Ten most frequently reported ‘highly important’ pressures and threats
        </strong>
      </p>

      {% if obj.threats %}
      <table class='table-simple'>
        <thead>
          <tr>
            <th>Code</th>
            <th style="width: 100%; text-align: left">Activity</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          {% for threat in obj.threats %}
            <tr>
              <td>{{ threat.code }}</td>
              <td>{{ threat.name }}</td>
              <td class="cell-number">{{ threat.pc }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p class="warning">No ‘highly important’ pressures or threats were
        reported.</p>
      {% endif %}
    </section>

    <section>
      <header>
        <h2>Proportion of population covered by the Natura 2000 network</h2>
      </header>
      <p>For the bird species triggering SPA classification Member States were
      asked to report the size of a species population occurring within the
      Natura 2000 network. The percentage of species population covered by the
      network was estimated by comparing the population size within the network
      and the total population size.</p>

      <p>
        <strong>Percentage of coverage by Natura 2000 sites</strong>
      </p>

      {% if obj.n2k %}
      <table class='table-simple'>
        <thead>
          <tr>
            <th>MS/territory</th>
            <th>season</th>
            <th>SPA trigger</th>
            <th>% coverage</th>
          </tr>
        </thead>
        <tbody>
          {% for row in obj.n2k %}
            <tr>
              <td>{{ row.reg }}</td>
              <td>{{ row.wb }}</td>
              <td class="cell-center">{{ row.spa }}</td>
              <td class="cell-number">
                {{ (row.pc or '' |string).rstrip('0').rstrip('.') }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p class="warning">No data available.</p>
      {% endif %}

      <p>See the endnotes for more information<sup>iii</sup></p>
    </section>

    <section>
      <header>
        <h2>Most frequently reported conservation measures</h2>
      </header>
      <p>For the bird species triggering SPA classification Member States were
      asked to report up to 20 conservation measures being implemented for this
      species using an agreed list which can be found on the Article 12
      Reference Portal. Member States were further requested to highlight up to
      five most important (‘highly important’) measures; the table below only
      shows measures classed as ‘high’, for many species there were less than
      ten measures reported as highly important.</p>

      <p>
        <strong>
          Ten most frequently reported ‘highly important’ conservation measures
        </strong>
      </p>

      {% if obj.cons_measures %}
      <table class='table-simple'>
        <thead>
          <tr>
            <th>Code</th>
            <th style="width: 100%; text-align: left">Measure</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          {% for row in obj.cons_measures %}
            <tr>
              <td>{{ row.code }}</td>
              <td>{{ row.name }}</td>
              <td class="cell-number">{{ row.pc }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p class="warning">No ‘highly important’ measures were reported.</p>
      {% endif %}

    </section>
  {% endif %}

  <section>
    <p>
      This information is derived from the Member State national reports
      submitted to the European Commission under Article 12 of the Birds
      Directive in 2013 and covering the period 2008-2012. More detailed
      information, including the MS reports, is available at:
      {{ link(obj.url) }}.
    </p>
  </section>

  <section class="page-breaker">
    <p>
      <p>
        <sup>i</sup>
        <strong>Assessment of status at the European level:</strong>
        The EU assessments of birds population status was made by the European
        Red List of Birds Consortium (under contract with the European
        Commission)
      </p>
      The EU27 population trends were assessed using these categories:
      ‘+’ Increasing, ‘0’ Stable, ‘F’ Fluctuating, ‘-’ Decreasing,
      ‘xu’ Uncertain and ‘x’ Unknown. The breeding population size is estimated
      in majority of the cases as ‘p’ number of pairs. Alternative population
      units used are: ‘males’ number of males, ‘i’ number of individuals,
      ‘cmales’ number of calling males and ‘bfem’ number of breeding females.
      The winter population size is estimated as number of individuals.
    </p>

    <p><sup>ii</sup><strong>Species trends at the Member State level:</strong>
      The percentage of the EU27 species population occurring in
      the Member States (% in EU27) is calculated based on the population size
      reported by the Member States.</p>

    {% if obj.is_spa_trigger %}
      <p><sup>iii</sup><strong>Percentage of coverage by Natura 2000 sites:
          </strong>In some cases the population size within the Natura 2000
        network has been estimated using a different methodology to the
        estimate of overall population size and this can lead to percentage
        covers greater than 100%. In such case the value has been given as 100%
        and highlighted with an asterisk (*). The value ‘x’ indicates that the
        Member State has not reported the species population and/or the
        coverage by Natura 2000. No information is available for Greece and for
        non-Annex I species in the Czech Republic.</p>
    {% endif %}
  </section>

{% endblock %}
