<td colspan="3" class="default-td border_left">
  {{ row.br_population_size or '' }} {{ row.br_population_size_unit or '' }}
</td>

<td colspan="2"
    class="trend-{{ TREND_CLASSES.get(row.br_population_trend) }} text-center">
  <span class="conclusion">
    {{ row.br_population_trend or '' }}
  </span>
</td>

<td colspan="3"
    class="trend-{{ TREND_CLASSES.get(row.br_population_trend_long) }} text-center">
  <span class="conclusion">
    {{ row.br_population_trend_long or '' }}
  </span>
</td>
