{# MS #}

{% if not request.args.get('country') %}
  {% if row.envelope and row.filename %}
    {% set s_name, s_info, s_type = get_title_for_country(row) %}
    {% set original_url = get_original_url(row) %}
    <td class="border" data-tooltip="html">
      <div class="tooltip-html hidden">
        <div class="extra-padding">
          <p class="br width-600 margin-small">
            {% if s_name %}
              Scientific name used in original MS report if different than
              recommended: "{{ s_name|safe }}"<br/>
            {% endif %}
            
            {% if row.presence_bs %}
              Breeding population presence: {{ row.presence_bs }}
              <br/>
            {% endif %}
            
            {% if row.presence_ws %}
              Winter population presence: {{ row.presence_ws }}
            {% endif %}
          </p>
          
          {% if not row.is_assesm %}
            <p class="margin-small">
              <a href="{{ original_url }}">Open Original Report</a>
              &nbsp;
              <span class="muted large">
                <i class="fa fa-external-link"></i>
              </span>
            </p>
          {% endif %}
        </div>
      </div>
      <a class="clipped popup-btn block"
        data-title="Factsheet" href="{{ original_url }}">
        {{ row.country }}
      </a>
    </td>
  {% else %}
    <td class="border">{{ row.country }}</td>
  {% endif %}
{% endif %}

{# Breeding population #}
{% from 'common/_macros.html' import additional_info %}

<td class="default-td border_left" title="{{ row.population_quality_bs or '' }}">
  <div class="first-subcolumn">{{ population_size_unit(row.bs) or '' }}</div>
</td>

{{ additional_info(row.population_additional_info_record_bs, row.population_additional_info_bs) }}

<td class="center">
  {{ row.percentage_population_mean_size_bs|float or '' }}
</td>

<td class="default-td">
  {{ row.population_trend_period_bs or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_bs) }}" 
    title="{{ row.population_trend_quality_bs or '' }}">
  <span class="conclusion">
    {{ population_trend(row.bs) or '' }}
  </span>
</td>

<td class="default-td">
  {{ row.population_trend_long_period_bs or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_long_bs) }}"
    title="{{ row.population_trend_long_quality_bs or '' }}">
  <span class="conclusion">
    {{ population_trend_long(row.bs) or '' }}
  </span>
</td>

{{ additional_info(row.population_trend_additional_info_record_bs, row.population_trend_additional_info_bs) }}

{% from 'common/_macros.html' import additional_info %}

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

{# Breeding distribution #}
<td class="default-td border_left" title="{{ row.population_quality_bs or '' }}">
  <div class="first-subcolumn">{{ population_size_unit(row.bs) or '' }}</div>
</td>

{{ additional_info(row.population_additional_info_record_bs, row.population_additional_info_bs) }}

<td class="center">
  {{ row.percentage_population_mean_size_bs|float or '' }}
</td>

<td class="default-td">
  {{ row.population_trend_period_bs or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_bs) }}"
    title="{{ row.population_trend_quality_bs or '' }}">
  <span class="conclusion">
    {{ population_trend(row.bs) or '' }}
  </span>
</td>

<td class="default-td">
  {{ row.population_trend_long_period_bs or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_long_bs) }}"
    title="{{ row.population_trend_long_quality_bs or '' }}">
  <span class="conclusion">
    {{ population_trend_long(row.bs) or '' }}
  </span>
</td>

{{ additional_info(row.population_trend_additional_info_record_bs, row.population_trend_additional_info_bs) }}


<td></td>

<td></td>

{# Winter population #}
{% from 'common/_macros.html' import additional_info %}

<td class="default-td border_left" title="{{ row.population_quality_ws or '' }}">
  <div class="first-subcolumn">{{ population_size_unit(row.ws) or '' }}</div>
</td>

{{ additional_info(row.population_additional_info_record_ws, row.population_additional_info_ws) }}

<td class="center">
  {{ row.percentage_population_mean_size_ws|float or '' }}
</td>

<td class="default-td">
  {{ row.population_trend_period_ws or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_ws) }}"
    title="{{ row.population_trend_quality_ws or '' }}">
  <span class="conclusion">
    {{ population_trend(row.ws) or '' }}
  </span>
</td>

<td class="default-td">
  {{ row.population_trend_long_period_ws or '' }}
</td>

<td class="trend-{{ TREND_CLASSES.get(row.population_trend_long_ws) }}"
    title="{{ row.population_trend_long_quality_ws or '' }}">
  <span class="conclusion">
    {{ population_trend_long(row.ws) or '' }}
  </span>
</td>

{{ additional_info(row.population_trend_additional_info_record_ws, row.population_trend_additional_info_ws) }}

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

<td></td>

{# Breeding area/gridded maps #}
<style>
  .center {
    text-align: center
  }
</style>

<td class="center border_left">
  {{ row.distribution_grid_area|int or '' }}
</td>

<td class="center">
  {{ row.percentage_distribution_grid_area|float or '' }}
</td>

<td class="center">
  {{ row.range_grid_area|int or '' }}
</td>

<!-- 
<td class="center" colspan="2">
  {{ row.percentage_range_grid_area|float or '' }}
</td> -->
