{% from 'common/_macros.html' import additional_info %}

<td class="default-td border_left"
		title="{{ row.population_quality_ws or '' }}">
	{{ population_size_unit(row.ws) or '' }}
</td>

{{ additional_info(row.population_additional_info_record_ws, row.population_additional_info_ws) }}

<td class="center">
	{{ row.percentage_population_mean_size_ws|float or '' }}
</td>
<td class="default-td">
	{{ row.population_trend_period_ws or '' }}
</td>
<td class="trend-{{ TREND_CLASSES.get(row.population_trend_ws) }}"
		title="{{ row.population_trend_quality_ws or '' }}">
  <span class="conclusion">
		{{ population_trend(row.ws) or '' }}
	</span>
</td>
<td class="default-td">
	{{ row.population_trend_long_period_ws or '' }}
</td>
<td class="trend-{{ TREND_CLASSES.get(row.population_trend_long_ws) }}"
		title="{{ row.population_trend_long_quality_ws or '' }}">
  <span class="conclusion">
  	{{ population_trend_long(row.ws) or '' }}
  </span>
</td>

{{ additional_info(row.population_trend_additional_info_record_ws, row.population_trend_additional_info_ws) }}
