{% from 'common/_macros.html' import additional_info %}

<td class="default-td border_left">
	<span class="conclusion">
    {{ row.range_surface_area_bs|int or '' }}
	</span>
</td>

{{ additional_info(row.range_additional_info_record_bs, row.range_additional_info_bs) }}

<td class="center">
	{{ row.percentage_range_surface_area_bs|float or '' }}
</td>
<td class="default-td">
	{{ row.range_trend_period_bs or '' }}
</td>
<td class="trend-{{ TREND_CLASSES.get(row.range_trend_bs) }}"
		title="{{ row.range_trend_quality_bs or '' }}">
  <span class="conclusion">
		{{ range_trend(row.range_trend_bs, row.range_trend_magnitude_min_bs, row.range_trend_magnitude_max_bs) }}
	</span>
</td>
<td class="default-td">
	{{ row.range_trend_long_period_bs or '' }}
</td>
<td class="trend-{{ TREND_CLASSES.get(row.range_trend_long_bs) }}"
		title="{{ row.range_trend_long_quality_bs or '' }}">
  <span class="conclusion">
		{{ range_trend_long(row.range_trend_long_bs, row.range_trend_long_magnitude_min_bs, row.range_trend_long_magnitude_max_bs) }}
	</span>
</td>

{{ additional_info(row.range_trend_additional_info_record_bs, row.range_trend_additional_info_bs) }}

