{{ g.zope_layout.start_to_title }}

{%- block title %}{% endblock -%}

{{ g.zope_layout.title_to_endofhead }}

{%- block extra_head %}{% endblock -%}

{{ g.zope_layout.endofhead_to_startofbody }}

{%- block afterbody %}{% endblock -%}

{{ g.zope_layout.startofbody_to_breadcrumbs }}

{%- block breadcrumbs %}{% endblock -%}

{{ g.zope_layout.breadcrumbs_to_leftcolumn }}
{{ g.zope_layout.leftcolumn_to_content }}

{% block content %}{% endblock %}
{% block scripts %}{% endblock %}

{{ g.zope_layout.content_to_end }}
