
{% include 'plone/head.html' %}

{%- block extra_head %}{% endblock -%}

{% include 'plone/before_login.html' %}

{% if current_user.is_authenticated() %}
  <a href="http://www.eionet.europa.eu/directory/user?uid={{ current_user.username }}"
     id="profilelink">{{ current_user.username }}</a>
  <a id="loginlink" href="https://plone5demo.eionet.europa.eu/logout">Log out</a>
{% else %}
  <a id="loginlink" href="https://plone5demo.eionet.europa.eu/login">Log in</a>
{% endif %}

{%- block afterbody %}{% endblock -%}

{% include 'plone/before_breadcrumbs.html' %}

{%- block breadcrumbs %}{% endblock -%}

{% include 'plone/header_before_container.html' %}

{% block before_content %}{% endblock %}
{% block content %}{% endblock %}

{% include 'plone/header_after_container.html' %}

{% block scripts %}{% endblock %}

{% include 'plone/footer.html' %}
