{% extends 'layout.html' %}

{% block breadcrumbs %}
  {% from 'common/_macros.html' import breadcrumbs %}
    {{ breadcrumbs(APP_BREADCRUMBS + [('Species progress', None), ]) }}
{% endblock %}


{% block content %}
  <div tabindex="1">
    <h1>EU population status and trends</h1>

    <p>
      Choose a period and an assessment type.
    </p>

    {% include 'progress/filters.html' %}

    {% if current_selection %}
      {% set page_type='progress' %}
      {% include 'common/legend.html' with context %}
      <table class="complex_datatable">
        <caption>
          <b>Current selection</b>:
          {{ current_selection|join(', ') }}.
        </caption>

        <tbody class="thead">
        <tr>
          <th>Species / sub-specific</th>
          <th>Assessment</th>
        </tr>
        </tbody>

        <tbody>
        {% for row in species %}
          {% if dataset.id == 3 %}
            <tr class="stripe_row {% if row.use_for_statistics  == 0 %}italic_row{% endif %}"></tr>
          {% else %}
            <tr class="stripe_row {% if row.additional_record %}italic_row{% endif %}">
          {% endif %}
            <td class="th">
              {% if dataset.id == 3 %}
                {% set url_subject = row.url_name or row.name %}
                {% if row.reported_name != url_subject %}
                  {% set reported_name = row.code %}
                {% else %}
                  {% set reported_name = '' %}
                {% endif %}
                {% set summary_url = url_for('views.summary', period=dataset.id, subject=url_subject, reported_name=reported_name) %}
              {% else %}
                {% set summary_url = url_for('views.summary', period=dataset.id, subject=row.code) %}
              {% endif %}
              <a href="{{ summary_url }}">{{ row.name }}</a>
            </td>
            {% if label_type == 'status' %}
            <td class="center border_left status-{{ STATUS_CLASSES.get(row.conclusion) }}
                text-center" title="{{ row.status }}">
            {% else %}
            <td class="center border_left trend-{{ TREND_CLASSES.get(row.conclusion) }}
                text-center" title="{{ row.status }}">
            {% endif %}
              <span class="conclusion">
                {{ row.conclusion or ''}}
              </span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}
      <p><b>Please select a period and an assessment type.</b></p>
    {% endif %}
  </div>
{% endblock %}
