{% extends 'layout.html' %}

{% block content %}
  <h1>Welcome to Article 12</h1>

  <ul>
    <li><a href="{{ url_for('.summary') }}">EU population status assessments</a></li>
    <li><a href="{{ url_for('.progress') }}">Summary of EU Assessments</a></li>
    <li><a href="{{ url_for('.report') }}">Member States data</a></li>
  </ul>

  {% if admin_perm.can() %}
    <h2>Administrator</h2>
    <ul>
      <li><a href="{{ url_for('common.config') }}">Settings</a></li>
    </ul>
  {% endif %}
{% endblock content %}
