{% extends 'layout.html' %}

{% block content %}
  <h1>
    Welcome to the Article 12 web tool on population status and trends of
    birds under Article 12 of the Birds Directive
  </h1>

  <p class="documentDescription">
    This page gives access to information reported by the Member States and the EU assessments
    of birds population status and trends made by the European Commission contractors (European
    Red List Consortium in 2014 and Stichting BirdLife Europe with BirdLife International and IUCN in 2020)
  </p>

  <p>
    A summary of the methodologies used for the EU population status assessments can be found
    <a href="">here</a> and a step-by-step guide for using the tool can be found <a href="">here</a>.
  </p>

  <p>
    <strong>
      Birds population status and trends at EU and Member State level (species by species filter):
    </strong>
  </p>
  <ul>
    <li><a href="{{ url_for('.summary') }}">
        Birds population status and trends</a></li>
  </ul>

  <p>
    <strong>
      Birds trends at Member State level (overview of results by Member State):
    </strong>
  </p>
  <ul>
    <li><a href="{{ url_for('.report') }}">
        Birds trends</a></li>
  </ul>

  <p>
    <strong>
      Birds population status and trends at EU level (overview of results) :
    </strong>
  </p>
  <ul>
    <li><a href="{{ url_for('.progress') }}">
        Birds population status and trends</a></li>
  </ul>

  {% if admin_perm.can() %}
    <h2>Administrator</h2>
    <ul>
      {% if AUTH_BLUEPRINT_INSTALLED %}
        <li><a href="{{ url_for('auth.users') }}">Users</a></li>
      {% endif %}
      <li><a href="{{ url_for('common.config') }}">Settings</a></li>
    </ul>
  {% endif %}
  {% if current_user.is_authenticated %}
    <h2>My account</h2>
    <ul>
      <li><a href="{{ url_for('common.change_details') }}">Change details</a></li>
      <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
    </ul>
  {% else %}
    <!-- <h2>Accounts</h2>
    Forgot your EIONET password? <a href='{{ EEA_PASSWORD_RESET }}'>Recover Eionet account password</a>
    {% if security.recoverable %}
      <p>Forgot your local account password? <a href="{{ url_for_security('forgot_password') }}">Recover local account password</a></p>
    {% endif %} -->
  {% endif %}

  <p>If there are issues with using the tool, please contact <a href="mailto:nature.helpbesk@eionet.europa.eu">nature.helpbesk@eionet.europa.eu</a>.</p>

{% endblock content %}
