{% extends layout_template %}

{% block extra_head %}
  {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
  {% endassets %}


  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
        rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
  {% from 'common/_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS) }}
{% endblock %}

{% block before_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
          {% if loop.last %}
            <li class="flashmessage flashmessage-{{ category }}">{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
