<!doctype html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% assets "js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	{% assets "css" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
	{% endassets %}

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
        rel="stylesheet" type="text/css">
</head>

<body class="window">
  {% block content %} {% endblock content%}
</body>
</html>
