<form id="filterform" class="form box box-small inline-block" name="filterform"
      method="get">

  <div class="box-col width-180">
    <label>{{ filter_form.period.label }}</label>
    {{ filter_form.period(
    class="select2-period",
    **{'data-href': url_for('.filter_form'),
       'data-href-countries': url_for('.filter_form_countries')})
    }}
  </div>

  <div class="box-col width-240">
    <label>{{ filter_form.subject.label }}</label>
    {{ filter_form.subject(
      class="select2-subject",
      **{'data-href': url_for('.filter_form_reported_name')}
      )
    }}
  </div>

  <div class="box-col width-240">
    <label>{{ filter_form.reported_name.label }}</label>
    {{ filter_form.reported_name(class="select2-reported-name",) }}
  </div>

  <button type="submit" class="btn-blue btn-xl offset_top_label">Filter</button>

</form>


<script>
  $(document).ready(function() {
    $('.select2-period').select2({
      placeholder: 'Search period...',
      allowClear: true,
      width: '100%'
    });

    $('.select2-subject').select2({
      placeholder: 'Search subject...',
      allowClear: true,
      width: '100%'
    });

    $('.select2-reported-name').select2({
      placeholder: 'Search reported name...',
      allowClear: true,
      width: '100%'
    });
  });
</script>
