{% extends 'layout.html' %}

{% block breadcrumbs %}
  {% from 'common/_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Species summary', None),
    ]) }}
{% endblock %}


{% block content %}
  <div tabindex="1">
    <h1>Population status and trends at the EU and Member State levels</h1>

    <p>
      Choose a period and a species.
    </p>
  {% if dataset.id == 2 %}
  <p class="note">
    IMPORTANT: 2008-2012bis reporting period displays data from the delayed delivery by Greece
    (where relevant) together with data from other Member States used for the EU population status
    assessment in 2014. EU population status assessment is not available for 2008-2012bis period.
    Where relevant the map includes the information from the delayed delivery by Greece.
  </p>
  {% endif %}
    {% include 'summary/filters.html' %}

    {% if dataset.id == 3%}
      {% set colspan_all = 44 %}
    {% else %}
      {% set colspan_all=30 %}
    {% endif %}

    {% if current_selection %}
      {% include 'summary/buttons.html' with context %}
      {% if map_warning %}
        <p class="note"><strong>Warning</strong>:
          The map does not show the distribution for sensitive species in {{ map_warning }}
        </p>
      {% endif %}
      {% set page_type='summary' %}
      {% include 'common/legend.html' with context %}
      <div style="overflow-x:auto;">
        <table class="complex_datatable">
          <caption>
            <b>Current selection</b>:
            {{ current_selection|join(', ') }}.
            {% set show_all_url=url_for('views.progress') %}
            <a href="{{ show_all_url }}">Show all</a>
          </caption>

          {% if dataset.id == 3 %}
            {% include "common/species_table_header_2019.html" with context %}
          {% else %}
            {% include "common/species_table_header.html" with context %}
          {% endif %}

          <tbody>
            {% for row in objects %}
              <tr {% if row.is_assesm %}class="assesm"{% endif %}>
                {% if dataset.id == 3 %}
                  {% include 'summary/content/content_2019.html' %}
                {% else %}
                  {% include 'summary/content/ms.html' %}
                  {% include 'summary/content/population_bs.html' with context %}
                  {% include 'summary/content/range.html' with context %}
                  {% include 'summary/content/population_ws.html' with context %}
                  {% include 'summary/content/gridded_maps.html' with context %}
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>

          {# EU assessments #}
          {% if dataset.id == 3 %}
            {% include 'common/species_table_eu_header_2019.html' with context %}
          {% else %}
            {% include 'common/species_table_eu_header.html' with context %}
          {% endif %}
          <tbody>
          {% for row in eu_objects %}
            <tr class="stripe_row {% if row.additional_record %}italic_row{% endif %}">
              <td {% if row.additional_record %}title="Additional assessment at the subspecies level for subspecies listed in the Annexes of the Birds Directive"{% endif %}>{{ EU_COUNTRY }}</td>
              {% if dataset.id == 3 %}
                {% include 'summary/eu/content_2019.html' with context %}
              {% else %}
                {% include 'summary/eu/population_bs.html' with context %}
                {% include 'summary/eu/range.html' with context %}
                {% include 'summary/eu/population_ws.html' with context %}
                {% include 'summary/eu/status.html' with context %}
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <p>
        The hash sign (#) under Subspecies/subspecific units-Trends or Status
        means that the EU population trends or EU status were not assessed at
        the same level as the current selection (species and subspecific unit).
      </p>
      <p>
        In italics, additional assessment at the subspecies or population
        level (available only for subspecies listed in the Annexes of
        the Birds Directive).
      </p>
    {% else %}
      <p><b>Please select a species.</b></p>
    {% endif %}
  </div>
{% endblock %}
