{% extends 'layout.html' %}

{% block breadcrumbs %}
  {% from 'common/_macros.html' import breadcrumbs %}
  {{ breadcrumbs(APP_BREADCRUMBS + [
      ('Species summary', None),
    ]) }}
{% endblock %}


{% block content %}
  <div tabindex="1">
    <h1>Population status and trends at the EU and Member State levels</h1>

    <p>
      Choose a period and a species.
    </p>

    {% include 'summary/filters.html' %}

    {% set colspan_all=30 %}

    {% if current_selection %}
      {% include 'summary/buttons.html' with context %}
      {% if map_warning %}
        <p class="note"><strong>Warning</strong>:
          The map does not show the distribution for sensitive species in {{ map_warning }}
        </p>
      {% endif %}
      {% set page_type='summary' %}
      {% include 'common/legend.html' with context %}
      <table class="complex_datatable">
        <caption>
          <b>Current selection</b>:
          {{ current_selection|join(', ') }}.
          {% set show_all_url=url_for('views.progress') %}
          <a href="{{ show_all_url }}">Show all</a>
        </caption>

        {% include "common/species_table_header.html" with context %}

        <tbody>
        {% for row in objects %}
          <tr {% if row.is_assesm %}class="assesm"{% endif %}>

            {% include 'summary/content/ms.html' %}
            {% include 'summary/content/population_bs.html' with context %}
            {% include 'summary/content/range.html' with context %}
            {% include 'summary/content/population_ws.html' with context %}
            {% include 'summary/content/gridded_maps.html' with context %}

          </tr>
        {% endfor %}
        </tbody>

        {# EU assessments #}
        {% include 'common/species_table_eu_header.html' with context %}
        <tbody>
        {% for row in eu_objects %}
          <tr class="stripe_row">
            <td>{{ EU_COUNTRY }}</td>
            {% include 'summary/eu/population_bs.html' with context %}
            {% include 'summary/eu/range.html' with context %}
            {% include 'summary/eu/population_ws.html' with context %}
            {% include 'summary/eu/status.html' with context %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p>
        The hash sign (#) under Subspecies/subspecific units-Trends or Status
        means that the EU population trends or EU status were not assessed at
        the same level as the current selection (species and subspecific unit).
      </p>
    {% else %}
      <p><b>Please select a species.</b></p>
    {% endif %}
  </div>
{% endblock %}
